.st_tab {
	border: 2px solid black;
	width: 100%;
	display: none;
	height: 640px;
}

.staffmenu button{
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

table, th {
	border: 1px solid black;
}

th {
	height: 20px;
}

.newappdiv {
	float: left;
	border: 1px solid black;
}

.tall {
	height: 640px;
}

form {
	float: left;
}

.id {
	display: none;
}

.selected {
	background-color: grey;
}

#searchapp {
	display: none;
}

.companylist {
	float: left;
	border: 1px solid black;
}

.companydata{
	float: left;
}

.neededskills {
	float: left;
	border: 1px solid black;
}

.lefty{
	float: left;
}

#result{
	position: absolute;
	bottom: 0;
	right: 0;
}

}
.fade{
	transition: visiblity 5s;
	transition-timing-function: ease-in;
}
