.st_tab {
	border: 2px solid black;
	width: 100%;
	display: none;
	height: 690px;
	overflow: auto;
}

#staffmenu button{
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

table, th {
	border: 1px solid black;
}

th {
	height: 20px;
}

.newappdiv {
	float: left;
	border: 1px solid black;
}

.maindivs {
	padding: 3px;
	margin: 3px;
}

.tall {
	height: 640px;
	overflow: auto;
}

form {
	float: left;
}

.id {
	display: none;
}

.selected {
	background-color: grey;
}

#searchapp {
	display: none;
}

.companylist {
	float: left;
	border: 1px solid black;
}

.companydata{
	float: left;
}

.neededskills {
	float: left;
	border: 1px solid black;
	width: 460px;
}

.lefty{
	float: left;
	padding: 5px;

}
#movbuton{
	padding: 10px;
	font-size: 2em;
}

#result{
	position: absolute;
	bottom: 0;
	right: 0;
}

.fade{
	transition: visiblity 5s;
	transition-timing-function: ease-in;
}

#mainform {
    float: left;
}

#blobs {
    width: 300px
}

.divborder {
	float: left;
	border: 1px solid black;
	padding: 4px;
}
.green {
	background-color: rgb(220,255,220);
}
.blue {
	background-color: rgb(220,220,255);
}
.tan {
	background-color: rgb(255, 245, 140);
}
.purple{
	background-color: rgb(250,235,255);
}
.hide {
	display: none;
}
input[type=text] {
	width: 140px;
}
#jstate, #sstate, #jobtitle, #jphone, #salary, #major {
	width: 100px;	
}
#jzip, #szip {
	width: 50px;
}
#jobsTab, #schoolsTab{
	width: 120px;
}
#newappform{
	margin-top: -10px;
}
.tabbutton{
	border-radius: 8px 8px 0px 0px;
}